#footer {
    height: auto;
    background-color: #0f0617;
    font-size: 12px;
    width: 80%;
    margin: auto;
  }

  #footer a:hover {
    color: deeppink;
  }

  #footer a {
    color: hsla(0, 0%, 100%, 0.5);
  }

  #footer p,
  h4 {
    color: #ffffff;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
  }
  .row > .footer-col {
    margin-top: 10px;
  }
  .footer-col > div {
    margin-top: 16px;
  }
  .end {
    margin: 3% 0 1% 0;
    font-size: 13px;
    color: hsla(0, 0%, 100%, 0.5);
  }
  footer h3 {
    font-weight: 20px;
    color: white;
  }
  .logDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: auto;
    align-items: center;
  }

  .logo h4 {
    margin-right: 10px;
  }
  .logo a {
    margin-right: 10px;
  }

  .logo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .leftlogo {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .leftlogo a {
    margin-left: 10px;
  }
  a {
    text-decoration: none;
  }
  .logo-On {
    width: 40px;
    height: 40px;
  }
  .about {
    width: 40%;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-between;
  }
  footer p {
    text-align: center;
    font-size: 11px;
  }
  .topFooter {
    height: 210px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  footer h4 {
    margin-top: 10px;
  }
  .leftlogo a {
    width: 40px;
    height: 40px;
    background-color: rgb(37, 35, 35);
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .leftlogo i {
    font-size: 15px;
    color: bisque;
  }
  .leftlogo h4 {
    margin-top: 0px;
  }
  .leftlogo .fb:hover {
    background-color: blue;
    cursor: pointer;
  }
  .leftlogo .insta:hover {
    background-color: rgb(211, 12, 128);
    cursor: pointer;
  }
  .leftlogo .twitter:hover {
    background-color: rgb(20, 153, 230);
    cursor: pointer;
  }
  .leftlogo .youtube:hover {
    background-color: rgb(252, 47, 10);
    cursor: pointer;
  }
  @media all and (min-width: 51px) and (max-width: 381px) {
    .about {
      width: 80%;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .leftlogo {
      margin-top: 20px;
      flex-wrap: nowrap;
    }
    .logo > h4 {
      display: none;
    }
    .leftlogo > h4 {
      display: none;
    }
    .leftlogo a {
      margin-right: 10px;
    }
  }

  @media all and (min-width: 380px) and (max-width: 981px) {
    .about {
      width: 80%;
      margin: 20px auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .leftlogo {
      margin-top: 20px;
      flex-wrap: nowrap;
    }
    .logo {
      flex-wrap: nowrap;
    }
  }
  * {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    outline: 0;
    color: #fff;
  }
  body {
    background-color: #0f0617;
  }
  #slider_div {
    margin-left: 130px;
    margin-bottom: 10px;
  }
  #wall {
    background-color: #401a4c;
    align-content: center;
    padding-left: 150px;
    margin-bottom: 10px;
  }
  #movie_detail {
    display: flex;
    overflow: initial;
    /* display: block; */
    position: relative;
    width: 70%;
    /* height:250px; */
    width: 50%;
    /* margin-left: 100px; */
    height: 380px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    /* margin: auto; */
    transition: all 0.4s ease-in-out;
    /* transform: translateX(-520px); */
  }
  .images {
    min-width: 195px;
    height: 330px;
    border-radius: 5px;
    margin-top: 1%;
    position: relative;
    transition: 00.3s;
    margin-right: 25px;
    box-shadow: rgba(7, 7, 7, 0.4) 5px 5px;
  }
  .images img {
    width: 100%;
  }
  .next2 {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: 450px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;

    right: 0%;
    border-radius: 3px 0 0 3px;
  }
  #heading p {
    color: white;
  }
  #latest_movie {
    display: flex;
    overflow: unset;
    /* display: block; */
    position: relative;
    width: 70%;
    /* height:250px; */
    /* width: 80%; */
    /* margin-left: 100px; */
    height: 380px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    /* margin: auto; */
    transition: all 0.4s ease-in-out;
    /* transform: translateX(-520px); */
  }
  @media only screen and (max-width: 520px) {
    .images > img {
      width: 100%;
      height: 250px;
      object-fit: cover;
    }
  }
  @media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
      font-size: 11px;
    }
    img {
      width: 100%;
    }
    #slider_div {
      width: 100%;
    }
  }
  #world_hits {
    display: flex;
    overflow: unset;
    /* display: block; */
    position: relative;
    width: 70%;
    /* height:250px; */
    /* width: 80%; */
    /* margin-left: 100px; */
    height: 380px;
    display: flex;
    align-items: center;
    transform: translateX(0);
    /* margin: auto; */
    transition: all 0.4s ease-in-out;
    /* transform: translateX(-520px); */
  }
  .movie_table {
    display: table;
    border-spacing: 2px;
    text-indent: initial;
    border: 1px solid #bdbdbd;
    border-collapse: collapse;
    box-sizing: border-box;
    font-size: 1.25rem;
    margin-bottom: 12px;
    table-layout: fixed;
    text-align: left;
    width: 100%;
    color: #fff;
  }
  #container{
      overflow: hidden;
  }